footer.footer
	.footer__inner
		.footer__column-left
			.footer__powered
				| Site Powered by TEST. Design and Developed by TEST.

			.footer__nav
				.footer__nav-item
					a.footer__link(href=jv0)
						| Home
				.footer__nav-item
					a.footer__link(href=jv0)
						| About
				.footer__nav-item
					a.footer__link(href=jv0)
						| Products
				.footer__nav-item
					a.footer__link(href=jv0)
						| Services
				.footer__nav-item
					a.footer__link(href=jv0)
						| Contact

			.footer__policy
				.footer__nav-item
					a.footer__link(href=jv0)
						| Privacy Policy
				.footer__nav-item
					a.footer__link(href=jv0)
						| Terms of use

		.footer__column-right
			.footer__copyright
				| Copyright 2015 . All Rights Reserved.

