.social__icons
		.social__icon
			a.social__link.social__link-rrs(href=jv0)
		.social__icon
			a.social__link.social__link-fbook(href=jv0)
		.social__icon
			a.social__link.social__link-linkedin(href=jv0)
		.social__icon
			a.social__link.social__link-youtube(href=jv0)
		.social__icon
			a.social__link.social__link-twitter(href=jv0)
